.container{
    background-color: aqua;
}
.pinkcolor{
    background-color: pink;
}
.red{
    background-color: red;
}
.green{
    background-color: darkgreen;
}
.yellow{
    background-color: yellowgreen;
}
.purple{
    background-color: purple;
}